@font-face {
  font-family: "Kantumruy Pro";
  src: url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-600-normal.woff2")
      format("woff2"),
    url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-600-normal.woff")
      format("woff");

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Kantumruy Pro";
  src: url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-400-normal.woff2")
      format("woff2"),
    url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-400-normal.woff")
      format("woff");

  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

.mainBody {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}

.leftSection {
  flex: 1;
  text-align: left;
}

.rightSection {
  flex: 2;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px;
}

.hh1 {
  font-weight: 600;
  font-size: 7vh;
  margin-bottom: 1rem;
  font-family: "Kantumruy Pro", sans-serif;
  color: #000;
}

.highlight {
  color: #8967b3;
}

.description {
  font-size: 1.5rem;
  color: #000;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 400;
}

.ModalButton {
  width: 100%;
  max-width: 300px;
  height: 70px;
  background-color: #8967b3;
  color: #fff;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 500;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.6rem;
}

.ModalButton:hover {
  background-color: #6b4e91;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .mainBody {
    padding: 1.5rem;
  }

  .hh1 {
    font-size: 6vh;
    text-align: left;
  }

  .description {
    font-size: 1.3rem;
    text-align: left;
  }

  .ModalButton {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .mainBody {
    flex-direction: column-reverse; /* RightSection appears first */
    text-align: center;
  }

  .leftSection,
  .rightSection {
    width: 100%;
  }

  .hh1 {
    font-size: 7vh;
  }

  .description {
    font-size: 1.2rem;
    width: 19em;
  }

  .ModalButton {
    width: 100%;
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .hh1 {
    font-size: 4vh;
  }

  .description {
    font-size: 1rem;
  }

  .ModalButton {
    font-size: 0.9rem;
    width: 90%;
  }
}
