@font-face {
  font-family: "Kantumruy Pro";
  src: url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-600-normal.woff2")
      format("woff2"),
    url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-600-normal.woff")
      format("woff");

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Kantumruy Pro";
  src: url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-400-normal.woff2")
      format("woff2"),
    url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-400-normal.woff")
      format("woff");

  font-weight: 400;
  font-style: normal;
}

.tagsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 16px;
}

.linkTags {
  font-size: 16px;
  line-height: 40px;
  font-family: "Kantumruy Pro";
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-bottom: 20px;
}

.align {
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-left: 3.5rem;
  max-width: 1500px;
  /* margin-left: 40px;
  margin-right: 40px; */
}

.background {
  background-color: #f9f9f9;
  /* padding: 20px; */
}

.hh2 {
  top: 1058px;
  left: 94px;
  width: 295px;
  height: 59px;

  text-align: left;
  font-size: 35px;
  line-height: 40px;
  font-family: "Kantumruy Pro";
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 20px;
}

.head {
  display: flex;
  gap: 780px;
}

/*//////////////////////////////////////////////////*/
.moreTags {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.text {
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 0.3rem;
}

.arrow {
  padding-left: 10px;
  height: 18px;
  margin-bottom: 20px;
}

.underline {
  position: absolute;
  bottom: 9px;
  left: 0;
  width: 45px;
  height: 4px;
  background-color: #8967b3; /* Purple underline */
  transition: width 0.3s ease;
  margin-bottom: 10px;
}

.moreTags:hover .underline {
  width: 100%; /* Full width on hover */
}

/*----------Shimmering Effect-----------*/
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.skeletonSpan {
  width: 80px;
  height: 10px;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    #dfdfdf 25%,
    #f0f0f0 50%,
    #dfdfdf 75%
  ); /*90deg left- right*/
  background-size: 200% 100%; /*width twice of the element and same height*/
  animation: shimmer 1.5s infinite;
  margin-bottom: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .tagsContainer {
    width: 95%;
    grid-template-columns: 1fr; /* Single column layout */
  }

  .skeletonTagItem,
  .tagItem {
    width: 100%; /* Full width */
    margin-right: 0;
  }

  .head {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
  }

  .align {
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .moreTags {
    /* justify-content: flex-start; */
    margin-right: 20px;
  }
}
