.detailsContainer {
  margin-top: 16px;
}

.details {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
  margin-bottom: 8px;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #777;
  margin-bottom: 8px;
}

.applyButton {
  background-color: #6c63ff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.applyButton:hover {
  background-color: #5548c8;
}
