.App {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 16px;
  /* display: flex;
  justify-content: center; */
  /* padding: 32px; */
  background-color: #f8f9fa;
}

.job-list {
  /* display: flex; */
  gap: 16px;
}
