@font-face {
  font-family: "Kantumruy Pro";
  src: url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-700-normal.woff2")
      format("woff2"),
    url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-700-normal.woff")
      format("woff");

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Kantumruy Pro";
  src: url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-300-normal.woff2")
      format("woff2"),
    url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-300-normal.woff")
      format("woff");

  font-weight: 300;
  font-style: normal;
}

.registorBack {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: #dfdfdf;
  padding: 10px 20px;
}

.registorText {
  /* flex-grow: 1; */
  font-size: 24px;
  color: #000;
  font-family: "Kantumruy Pro";
  font-weight: 500;
  margin-right: 25px;
}

.registerIcons {
  width: 48px;
  height: 48px;
  display: inline-block;
  margin-right: 25px;
  margin-left: 300px;
  margin-top: 6px;
}

/*********************************************************/
@media screen and (max-width: 768px) {
  .registorBack {
    flex-direction: column; /* Stack elements */
    padding: 15px;
    align-items: center;
    gap: 10px;
  }

  .registerIcons {
    width: 30px;
    height: 30px;
    margin-left: 0;
  }

  .registorText {
    align-content: center;
    /* width: 19em; */
    font-size: 1.1rem;
  }
}
