.signupButton {
  background-color: #8967b3;
  color: #fff;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Kantumruy Pro", sans-serif;
  border-radius: 10px;
}

.signupButton:hover {
  background-color: #8967b3;
  color: #fff;
  border: none;
}
/****************/
@media screen and (max-width: 768px) {
  .signupButton {
    width: 100%; /* Full width button for mobile */
    max-width: 200px; /* Prevent excessive stretching */
    font-size: 14px;
  }
}
