.signupButton {
  background-color: #8967b3;
  color: #fff;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: "Kantumruy Pro", sans-serif;
  border-radius: 10px;
}

.signupButton:hover {
  background-color: #732d91;
  color: #fff;
  border: none;
}
