.container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Kantumruy Pro", sans-serif;
  text-align: center;
}
.iconCat {
  width: 90px;
  height: 90px;
}

.heading {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.subheading {
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  color: #000;
  margin: 30px 50px 60px 230px;
  width: 25em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 100px;
  row-gap: 20px;
}
.bullet {
  color: #777;
  margin: 0 6px; /* Optional spacing around the bullet */
}

.card {
  height: 110px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03); */
  /* transition: transform 0.3s ease; */
  text-decoration: none;
}

.card:hover {
  text-decoration: none;
}

.iconContainer {
  background-color: #000; /* Black background for icons */
  padding: 35px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: #fff;
  /* padding-top: px; */
}

.icon {
  font-size: 2rem;
  color: #fff;
}

.contentContainer {
  background-color: #f7f7f7; /* White background for content */
  padding: 27px;
  padding-bottom: 13px;
  flex: 1; /* Fill the remaining space */
  text-align: left;
}

.title {
  font-size: 1.5rem;
  margin: 0;
  color: #000000;
  font-weight: 500;
}

.details {
  font-size: 1.1rem;
  color: #000000;
  font-weight: 400;
}
