@font-face {
  font-family: "Kantumruy Pro";
  src: url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-600-normal.woff2")
      format("woff2"),
    url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-600-normal.woff")
      format("woff");

  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Kantumruy Pro";
  src: url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-400-normal.woff2")
      format("woff2"),
    url("../../../node_modules/@fontsource/kantumruy-pro/files/kantumruy-pro-khmer-400-normal.woff")
      format("woff");

  font-weight: 400;
  font-style: normal;
}

.contentItem {
  background: #f7f7f7;
  height: 280px;
  width: 375px;
  padding: 26px 16px 16px 16px;
  /* width: 370px; */
  /* height: 230px; */
  text-align: center;
  /* border-radius: 15px;
  margin-bottom: 20px;
  margin-right: 5px; */

  /* background: #dfdfdf; */
  border-radius: 12px;
  /* padding: 10px 16px 16px 16px; */
  /* width: 390px; */
  /* height: 100px; */
  text-align: center;
  /* border-left: 15px solid #000; */
  margin-bottom: 15px;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #000000;
  letter-spacing: 0px;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 500;
  text-align: left;

  /* padding: 3px 8px; */
  border-radius: 4px; /* Optional: Rounded corners */
  gap: 8px; /* Space between icon and text */
}

.description {
  font-size: 1.1rem;
  color: #000000;
  letter-spacing: 0px;
  font-family: "Kantumruy Pro";
  font-weight: 400;
  opacity: 1;
  text-align: left;
  padding-bottom: 20px;
  /* width: 19em;  */
  height: 5em;
}

.icons {
  /* display: flex; */

  width: 25px;
  height: 25px;
  /* display: inline-block;
  margin-right: 8px;
  padding-top: 0; */
}
.titleIcon {
  /* color: #000000;
  letter-spacing: 0px;
  font-family: "Kantumruy Pro";
  padding-bottom: 0px;
  text-align: left;
  margin: 0;
  padding: 0; */
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}

/*-----------Shimmering Effect-------------*/

.skeletonContentItem {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.skeletonTitleIcon {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skeletonIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 40px;
}

.skeletonTitle {
  height: 20px;
  width: 70%;
  margin-bottom: 40px;
  border-radius: 4px;
}

.skeletonIcon,
.skeletonTitle,
.skeletonDescriptionSecond,
.skeletonDescription,
.skeletonElement {
  background: linear-gradient(90deg, #dfdfdf 25%, #f0f0f0 50%, #dfdfdf 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.skeletonDescription {
  height: 13px;
  width: 90%;
  margin-bottom: 10px;
  border-radius: 3px;
}

.skeletonDescriptionSecond {
  height: 13px;
  width: 50%;
  margin-bottom: 40px;
  border-radius: 3px;
}
.skeletonContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  /* padding: 16px; */
  margin-top: 10px;
  margin-right: 100px;
  align-items: left;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/*************Shimmering Effect of the Bottom part****************/
.skeletonElement {
  width: 100px;
  height: 22px;
  margin-bottom: 5px;
  color: #dfdfdf;
}
/* Skeleton Content/arrangment */
.skeletonInsideContent {
  display: flex;
  gap: 8px;
  /* align center*/
  padding: 5px;
  margin: 0; /*Remove margin*/
  text-align: center;
}

.skeletonInsideText {
  width: 70px;
  height: 13px;
  background: linear-gradient(90deg, #c9c9c9 25%, #f0f0f0 50%, #c9c9c9 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

.skeletonInsideElementButton {
  background: linear-gradient(90deg, #8967b3 25%, #f0f0f0 50%, #8967b3 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  width: 70px;
  height: 24px;
  margin-bottom: 5px;
  border-radius: 4px;
  padding: 2px 7px;
  /* padding-bottom: 5px; */
}
.skeletonInsideTextButton {
  width: 60px;
  height: 11px;
  background: linear-gradient(90deg, #c9c9c9 25%, #f0f0f0 50%, #c9c9c9 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 6px;
}

/* Icon Placeholder */
.skeletonInsideIcon {
  display: flex;
  justify-content: start;
  width: 10px;
  height: 10px;
  background: linear-gradient(90deg, #c9c9c9 25%, #f0f0f0 50%, #c9c9c9 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 50%;
}
