.card {
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background: #fff;
  padding: 1.5rem 1.5rem 0 1.5rem;
  font-family: "Kantumruy Pro", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

.review {
  font-weight: 400;
  padding: 10px;
}
.inputGroup {
  /* width: 463px; */
  padding: 0;
  display: flex;
  align-items: center;
  background: #f7f7f7;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Kantumruy Pro", sans-serif;
  margin-top: 30px;
}
.backk {
  display: flex;
  flex-direction: column;
  /* font-size: 1rem; */
  color: #000;
  justify-items: center;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.7rem;
  font-family: "Kantumruy Pro", sans-serif;
  font-weight: 600;
  margin-bottom: 0;
  /* margin-left: 300px; */
}
.text {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
  /* margin-left: 220px; */
}

.iconHead {
  width: 100px;
  height: 100px;

  /* width: 100px; */

  padding: 0 2rem;
  /* padding-right: ; */
  display: flex;
  align-items: center;
  justify-content: center;

  /* padding-left: 50px;
  padding-right: 50px; */
  background: black;
}

.underline {
  /* position: absolute; */
  bottom: 0px;
  left: 0;
  width: 120px;
  height: 2.5px;
  background-color: #8967b3;
  border-radius: 10px;
  margin-top: 3px;
}
.link {
  color: #000;
  font-weight: 600;
  text-decoration: none;
  margin-top: 5px;
  padding: 0 0.3rem;
  padding-top: 2px;
}
.moreJobss {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  border: none;
  /* padding: 0rem 1rem; */
  padding-left: 1rem;
  padding-right: 2rem;
  padding-top: 0;
  outline: none;
  color: #000;
  font-size: 1.1rem;
  font-family: "Kantumruy Pro", sans-serif;
}
/******************************/
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #000;
}

.field {
  flex: 1;
  margin-right: 20px;
  color: #000;
}

/* .field:last-child {
  margin-left: 20px;
  margin-right: 0;
} */

.label {
  display: block;
  font-size: 1.3rem;
  padding: 1rem 0;
  font-weight: 500;
}

.required {
  color: red;
  font-weight: 600;
  margin-right: 10px;
}

.inputWrapper {
  /* width: 463px; */
  height: 60px;
  display: flex;
  align-items: center;
  background: #dfdfdf;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Kantumruy Pro", sans-serif;
}

.iconUser {
  width: 60px;
  height: 60px;
}
.iconSubject {
  width: 60px;
  height: 75px;
}
.iconEmail {
  width: 55px;
  height: 67px;
}

.iconUser,
.iconSubject,
.iconEmail {
  background: black;
  color: white;
  padding: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  background: #dfdfdf;
  color: #000;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  font-family: "Kantumruy Pro", sans-serif;
}
.input::placeholder {
  font-family: "Kantumruy Pro", sans-serif;
  color: #444444;
  font-size: 1.4rem;
}

.toggleVisibility {
  margin-left: 10px;
  cursor: pointer;
}

/*********************************************/
.moreJobs {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;

  border: none;
  /* padding: 0rem 1rem; */
  /* padding-left: 1rem;
  padding-right: 2rem; */
  outline: none;
  color: #000;

  font-family: "Kantumruy Pro", sans-serif;
  font-size: 1.1rem;
}

/*****************/
.messageGroup {
  display: flex;
  flex-direction: column;
  background: #dfdfdf;
  border-radius: 10px;
  font-family: "Kantumruy Pro", sans-serif;
}
.textarea {
  width: 100%;
  min-height: 200px;
  padding: 1rem;
  font-size: 1rem;
  color: #000;
  border: none;
  border-radius: 8px;
  background: #dfdfdf;
  resize: none;
  outline: none;
  font-family: "Kantumruy Pro", sans-serif;
  margin-top: 0;
}
.textarea::placeholder {
  font-family: "Kantumruy Pro", sans-serif;
  color: #444444;
  font-size: 1.3rem;
}

.counter {
  text-align: right;
  font-size: 1.1rem;
  color: #000;
  padding: 1rem;
  padding-bottom: 0.7rem;
}

/**************************************/
.agreement {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 25px;
}

.checkbox {
  appearance: none;
  margin-right: 20px;
  width: 25px;
  height: 25px;
  background-color: #dfdfdf; /* Gray background */
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.checkbox:checked {
  background-image: url("../../asset/SignUp/checkmark.svg"); /* Adjust the path */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
}

.checkbox:focus {
  outline: none;
}

.checkboxLabel {
  font-size: 1rem;
}

/**********************************************************/
.authButtons {
  display: flex;
  gap: 25px;
  margin-bottom: 60px;
  margin-top: 40px;
}
.authButtonn {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}
.whiteButton {
  background: transparent;
  border: 4px solid #8967b3;
  color: #000;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Kantumruy Pro", sans-serif;
  border-radius: 12px;
  margin-left: 180px;
}
.whiteButtonn {
  background: transparent;
  border: 4px solid #8967b3;
  color: #000;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Kantumruy Pro", sans-serif;
  border-radius: 12px;
  margin: 0;
}

.whiteButton:hover {
  border: 4px solid #8967b3;
  background-color: #f7f7f7;
  color: #000;
}

.purpleButton {
  background-color: #8967b3;
  color: #fff;
  border: none;
  padding: 12px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Kantumruy Pro", sans-serif;
  border-radius: 12px;
}
.purplee {
  font-weight: 300;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 1.4rem;
}

.purpleButton:hover {
  background-color: #8967b0;
  color: #fff;
  border: none;
}
.underlineGray {
  /* position: absolute; */
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #dfdfdf;
  border-radius: 10px;
  margin: 0;
}

/************************/
.iconHours {
  width: 100px;
  height: 67px;
  font-size: 1.3rem;
  font-weight: 400;

  background: black;
  color: white;
  padding: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconMoney {
  width: 58px;
  height: 67px;
  font-size: 1.3rem;
  font-weight: 400;

  background: black;
  color: white;
  padding: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.inputSalary {
  width: 100px;
  flex: 1;
  border: none;
  outline: none;
  background: #dfdfdf;
  color: #000;
  font-size: 1.5rem;
  padding: 1rem;
  font-family: "Kantumruy Pro", sans-serif;
}

.inputSalary::placeholder {
  font-family: "Kantumruy Pro", sans-serif;
  color: #444444;
  font-size: 1.5rem;
}

.textt {
  font-size: 1.1rem;
  font-family: "Kantumruy Pro", sans-serif;
  margin-top: 10px;
  margin-bottom: 30px;
}
/***********Select*************************************************/
.select-container {
  position: relative;
  display: inline-block;
  width: 100%; /* Optional: Set a specific width */
}

.dropdown {
  width: 100%; /*Ensure full width*/
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  appearance: none; /* Remove default arrow */
  background: none; /* Remove background to use custom icon */
  height: 58px;
  padding: 10px;
  padding-left: 20px;
  font-size: 21px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #dfdfdf;
  color: #444444;
  font-family: "Kantumruy Pro", sans-serif;
}

.dropdown:focus {
  outline: none; /* Remove default focus outline */
  border-color: #ddd; /* Set border color when input is focused */
}

.select-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px; /*Adjust the distance from the right*/
  transform: translateY(-50%); /* Center vertically */
  width: 14px; /* Adjust the width of the icon */
  height: 14px; /* Adjust the height of the icon */
  background: url("../../asset/Filter/arrow-down.svg") no-repeat center center; /* Use your custom icon */
  background-size: contain; /* Ensure the icon fits within the size */
  pointer-events: none; /* Ensure the icon doesn't interfere with clicking */
}
